
*.dae

*.txt

*.json

!template.dae
!armor.dae
!ghost.dae
!sparrow.dae

!resources/*.dae

bin/

obj/

Output/

BUILDCOMMAND.txt

Multifile/

PackageAll.ps1

Resources/Textures_Detail Textures-20210114T174724Z-001.zip
Tilemaps/*
Resources/D2 PlayerSkeleton.dae
Resources/D2 PlayerSkeletonBad.dae
.vs/DestinyColladaGenerator/DesignTimeBuild/.dtbcache.v2
.vs/DestinyColladaGenerator/FileContentIndex/18761ebb-81c8-44c7-852f-2dd6054951aa.vsidx
.vs/DestinyColladaGenerator/FileContentIndex/98ac312b-d899-401a-bbc8-1f2d19d51a7f.vsidx
.vs/DestinyColladaGenerator/FileContentIndex/read.lock
.vs/DestinyColladaGenerator/v16/.suo
.vs/DestinyColladaGenerator/v17/.futdcache.v2
.vs/DestinyColladaGenerator/v17/.suo
.vs/ProjectEvaluation/destinycolladagenerator.metadata.v5.1
.vs/ProjectEvaluation/destinycolladagenerator.projects.v5.1
*.vsidx
