
*.dae

*.txt

*.json

!template.dae
!armor.dae
!ghost.dae
!sparrow.dae

!resources/*.dae

bin/

obj/

Output/

BUILDCOMMAND.txt

Multifile/

PackageAll.ps1

Resources/Textures_Detail Textures-20210114T174724Z-001.zip
Tilemaps/*
Resources/D2 PlayerSkeleton.dae
Resources/D2 PlayerSkeletonBad.dae
